html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

body {
    background-color: #f8f9fa;
}

.main-container {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    gap: 2rem;
    overflow: auto;
}
