{% extends './layout.html' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
<section class="centered">
    <div class="formulario">
        <form action="#" method="post">
            <div class="datos">
                <div class="input-container">
                    <p>Nombre</p>
                    <input type="text" name="username" placeholder="Nombre">
                </div>

                <div class="input-container">
                    <p>Apellido</p>
                    <input type="text" name="username" placeholder="Apellido">
                </div>

                <div class="input-container">
                    <p>Nombre de usuario</p>
                    <input type="text" name="username" placeholder="Nombre de usuario">
                </div>

                <div class="input-container">
                    <p>Email</p>
                    <input type="email" name="username" placeholder="Email">
                </div>

                <div class="input-container">
                    <p>Contraseña</p>
                    <input type="password" name="username" placeholder="Contraseña">
                </div>

                <div class="input-container">
                    <p>Confirmar contraseña</p>
                    <input type="password" name="username" placeholder="Confirmar contraseña">
                </div>
            </div>

            <a href="{{ url_for('login') }}">
                <button type="button">Volver</button>
            </a>
            <button type="submit">Crear cuenta</button>
        </form>
    </div>
</section>
{% endblock %}